@media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      overflow-y: hidden;
    }
    .top-div, .middle-div, .bottom-div {
      display: flex;
      flex-direction: row;
      padding-left: 30px;
    }
    .sidebar {
      width: 100%;
      overflow-y: scroll;
      display: inline-block;
      height: fit-content;
    }
    .body {
      flex-direction: column;
    }
    .bottom-div>ul{
        flex-direction: row;
        justify-content: space-between;
        margin: 28px;
    }
    .middle-div>h3{
        padding: 0 75px;
    }
    .app{
        position: static;
        margin-top: -35px;
    }

    .forward-backward{
        position: static;
        top: 0;
        z-index: 0;
    }
    footer {
      flex-direction: column;
      flex-wrap: wrap;
      overflow-y: scroll;
      width: 100%;
    }
    .main-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      width: 100%;
    }
    .player{
        display: none;
    }
    .player-icons{
        width: 100vw;
    }
    .middle-musicbar>img{
        width: 70%;
    }
    .middle-player {
      width: 70%;
      margin-left: 15px;
    }
    .album-image{
        display: none;
    }
    .sidebar-2{
        height: 30vh;
    }
    
    .right-sub-container {
      width: 100%;
    }
    .right-sub-container > img,
    .volume {
      width: auto;
      margin-left: 8px;
    }
    .right-sub-container input {
      width: 23%;
    }
    .container-top {
      flex-direction: column;
      text-align: center;
      padding: 10px;
    }
    .album-img>img{
        width: 140px;
    }
    .album-name{
        padding: 0;
    }
    .album-name h2{
        font-size: 2rem;
    }
    .container-middle {
      margin-left: 0;
    }
    .album-image > img {
      width: 50%;
    }
  }
  